# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
target/
.classpath
.project
.settings/
*.log
*log*.zip
.generatorignore
/*/.gitignore
*.iml

.DS_Store