<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rao.study.mybatis.xml.mapper.StudentMapper" >
  <resultMap id="BaseResultMap" type="com.rao.study.mybatis.xml.domain.Student" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="c_id" property="cId" jdbcType="INTEGER" />
    <!-- association指定一对一的关系 -->
    <association property="card" column="c_id" javaType="com.rao.study.mybatis.xml.domain.Card" resultMap="BaseCardResultMap" columnPrefix="c_" /><!-- columnPrefix表示查询的结果集中有c_开头的都映射到这个结果集中 -->
  </resultMap>

  <!-- 定义Card的查询结果集映射 -->
  <resultMap id="BaseCardResultMap" type="com.rao.study.mybatis.xml.domain.Card">
    <id column="id" property="id" javaType="INTEGER" />
    <result column="number" property="number" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, name, c_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_student
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_student
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rao.study.mybatis.xml.domain.Student" >
    insert into t_student (id, name, c_id
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{cId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rao.study.mybatis.xml.domain.Student" >
    insert into t_student
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="cId != null" >
        c_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="cId != null" >
        #{cId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rao.study.mybatis.xml.domain.Student" >
    update t_student
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="cId != null" >
        c_id = #{cId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rao.study.mybatis.xml.domain.Student" >
    update t_student
    set name = #{name,jdbcType=VARCHAR},
      c_id = #{cId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!-- 使用关联查询 -->
  <select id="selectStudentAndCard" parameterType="java.lang.Integer" resultMap="BaseResultMap" >
    select ts.id,name,c_id,number as c_number from t_student ts left JOIN t_card tc ON ts.c_id = tc.id <where> ts.id = #{id}</where> ;
  </select>
</mapper>